<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="community-cordova-plugin-Adaptiveicon"
        version="3.2.0">

  <name>AdaptiveIcon</name>

  <description>
    This plugin allows you add adaptive icons in android device.
  </description>

  <author>Harikrishnan</author>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="adaptiveicon">
        <param name="android-package" value="nl.xservices.plugins.adaptiveicon" />
      </feature>
    </config-file>

          <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
                  <application android:icon="@mipmap/ic_launcher" 
                               android:roundIcon="@mipmap/ic_launcher_round"/>
          </edit-config>



<source-file src="src/res/mipmap-anydpi-v26/ic_launcher.xml" target-dir="app/src/main/res/mipmap-anydpi-v26/"/>
<source-file src="src/res/mipmap-anydpi-v26/ic_launcher_round.xml" target-dir="app/src/main/res/mipmap-anydpi-v26/"/>


          
<source-file src="src/res/mipmap-hdpi/icon_background.png" target-dir="app/src/main/res/mipmap-hdpi/"/>
<source-file src="src/res/mipmap-hdpi/icon_foreground.png" target-dir="app/src/main/res/mipmap-hdpi/"/>
<source-file src="src/res/mipmap-hdpi/icon_monochrome.png" target-dir="app/src/main/res/mipmap-hdpi/"/>
          
<source-file src="src/res/mipmap-mdpi/icon_background.png" target-dir="app/src/main/res/mipmap-mdpi/"/>
<source-file src="src/res/mipmap-mdpi/icon_foreground.png" target-dir="app/src/main/res/mipmap-mdpi/"/>
<source-file src="src/res/mipmap-mdpi/icon_monochrome.png" target-dir="app/src/main/res/mipmap-mdpi/"/>
          
<source-file src="src/res/mipmap-xhdpi/icon_background.png" target-dir="app/src/main/res/mipmap-xhdpi/"/>
<source-file src="src/res/mipmap-xhdpi/icon_foreground.png" target-dir="app/src/main/res/mipmap-xhdpi/"/>
<source-file src="src/res/mipmap-xhdpi/icon_monochrome.png" target-dir="app/src/main/res/mipmap-xhdpi/"/>
          
<source-file src="src/res/mipmap-xxhdpi/icon_background.png" target-dir="app/src/main/res/mipmap-xxhdpi/"/>
<source-file src="src/res/mipmap-xxhdpi/icon_foreground.png" target-dir="app/src/main/res/mipmap-xxhdpi/"/>
<source-file src="src/res/mipmap-xxhdpi/icon_monochrome.png" target-dir="app/src/main/res/mipmap-xxhdpi/"/>
          
<source-file src="src/res/mipmap-xxxhdpi/icon_background.png" target-dir="app/src/main/res/mipmap-xxxhdpi/"/>
<source-file src="src/res/mipmap-xxxhdpi/icon_foreground.png" target-dir="app/src/main/res/mipmap-xxxhdpi/"/>
<source-file src="src/res/mipmap-xxxhdpi/icon_monochrome.png" target-dir="app/src/main/res/mipmap-xxxhdpi/"/>

          
  </platform>



</plugin>
