<plugin id="cordova-plugin-adaptiveicon" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Adaptive Icon Plugin</name>
  <description>Cordova plugin to include adaptive icon resources</description>
  <license>MIT</license>
  <keywords>cordova, adaptive, icon, android</keywords>

  <platform name="android">
    <resource-file src="src/android/res/drawable/ic_launcher.png" target="res/drawable/ic_launcher.png" />
    <resource-file src="src/android/res/drawable/ic_launcher_foreground.png" target="res/drawable/ic_launcher_foreground.png" />
    <resource-file src="src/android/res/mipmap-anydpi-v26/ic_launcher.xml" target="res/mipmap-anydpi-v26/ic_launcher.xml" />
  </platform>
</plugin>
